.github
.vscode
.storybook

dist
util
tailwind
node_modules

__mocks__
__test__
__spec__

esbuild.svgr.js
esbuild.postcss.js
esbuild.mjs
jest.config.js
jest.setup.js
postcss.config.js
tailwind.config.js
ts.config.js
tsdx.config.js
