./src
./docs
./node_modules
./test
./storybook-static
./.storybook
./.github
.babelrc
.env
.estlintignore
.eslintrc.js
.gitignore
.ncurc.js
tsconfig.json
postcss.config.js
tailwind.config.js

esbuild*
