@use 'sass:map';

$fonts-path: '../lib/assets/fonts/';
$font-weights: (
  'thin': 100,
  'ultralight': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'heavy': 900,
);

@each $name, $weight in $font-weights {
  @font-face {
    font-family: 'lc-gilroy';
    src: url('#{$fonts-path}gilroy-#{$name}.woff2') format('woff2'),
      url('#{$fonts-path}gilroy-#{$name}.woff') format('woff'),
      url('#{$fonts-path}gilroy-#{$name}.ttf') format('truetype');
    font-weight: $weight;
  }
}
