// Allows for full-width previews when the content is not wide enough
.sbdocs-preview {
  .innerZoomElementWrapper > div {
    width: 100%;
  }

  a {
    color: blue;
    text-decoration: underline;
  }
}
