:root {
  --primary-default-color: #3182ce;
  --primary-dark-color: #2c5282;
  --primary-text-color: white;

  --accent-default-color: #ed64a6;
  --accent-dark-color: #b83280;
  --accent-text-color: white;

  --success-default-color: #48bb78;
  --success-dark-color: #2f855a;
  --success-text-color: white;

  --warn-default-color: #ed8936;
  --warn-dark-color: #dd6b20;
  --warn-text-color: white;

  --danger-default-color: #e53e3e;
  --danger-dark-color: #c53030;
  --danger-text-color: white;

  --active-default-color: #5bd067;
}
